*{box-sizing: border-box;}
body{
    position: relative;
}
/* base styles */
section{
    background-color: lightslategray;
    border: solid black 1px;
    padding: 0em 1em 1em 1em;
    margin: 10px 10px 10px 10px;
    width: 400px;
    height: 250px;
    float: left;
}
h1{text-align: center;}
span{
   
    padding: 10px;
    width: 100px;
    border: solid;
    font-size: larger;
}
/* for large devices */
@media (min-width: 992px) {
    .row{width: 100%;}
    section{width: 30%;}
    #one{
        
        position: absolute;
        left: 24%;
        background-color: red;
    }
    #two{
        
        position: absolute;
        left: 55.5%;
        background-color: blueviolet;
    }
    #three{
        position: absolute;
        left: 86.75%;
        background-color: green;
    }
}
/* for medium devices */
@media (min-width: 768px) and (max-width:991px)  {
    .row{width: 100%;}
    section{width: 40%;}
    #one{
        
        position: absolute;
        left: 29%;
        background-color: red;
    }
    #two{
        
        position: absolute;
        left: 71%;
        background-color: blueviolet;
    }
    #three{
        position: absolute;
        left: 68.5%;
        background-color: green;
    }
    #sec3{width: 80%;}
}
/* for large devices */
@media(max-width:767px){
    .row{width: 100%;}
    #one{
        position: absolute;
        left: 72%;
        background-color: red;
    }
    #two{
        
        position: absolute;
        left: 72%;
        background-color: blueviolet;
    }
    #three{
        position: absolute;
        left: 72%;
        background-color: green;
    }
    section{width: 90%;}
}